[Unit]
Description=weekly restic repository integrity check

[Service]
User=jhammel
Type=oneshot
EnvironmentFile=/etc/restic/backup.env
ExecStart=/usr/bin/restic check
