[Unit]
Description=k0sNgin
After=network-online.target
Wants=network-online.target

[Service]
User={{ k0sngin_service_user }}
Group={{ k0sngin_service_user }}
Environment="K0SNGIN_TOP_LEVEL={{ k0sngin_service_top_level }}"
Environment="K0SNGIN_PRODUCTION=true"
Environment="K0SNGIN_RATE_LIMIT=600"
Environment="K0SNGIN_LINKS={{ links_file }}"
ExecStart={{ k0sngin_service_venv }}/bin/uvicorn k0sngin.main:app --reload
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
